{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions"],
          "node": "current"
        },
        "debug": true,
        "useBuiltIns": "entry"
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-decorators-legacy",
    "mobx-deep-action"
  ]
}
